body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #312f2f;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0px 40px;
}

a {
    text-decoration:2px underline #683e8f;
    color: #312f2f;
    margin: 0px 20px;
}

.header,
.main-section,
.quote, 
.banner{
    background-color: #96acb7;
    border-radius: 20px;
    margin-bottom: 10px;
}
/* header styling */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/* main section styling */
.main-section {
    display: flex;
    flex-wrap: wrap;
    color: #312f2f;
    justify-content: space-between;
}

.main-section button {
    background-color: #683e8f;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    height: 40px;
    cursor:pointer;
    filter: drop-shadow(0 0 0.5rem #683e8f);
}

.main-section img {
    width: 400px;
}

.main-container h3{
    font-size: 38px;
    margin: 0;
}

.main-container {
    display: flex;
    font-size: 25px;
    margin-left: 100px;
    flex-basis: 400px;
    justify-content: center ;
    flex-direction: column;
}

.sign-up-button {
    border: 3px solid #683e8f; 
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 20px;
    box-shadow: inset;
}
/* sign up banner styling */
.banner {
    background-color: #683e8f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: white;
    gap: 20px;

}
.banner button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #96acb7;
    color: white;
}
/* quote styling */
.quote {
    background-color: #96acb7;
    border-radius: 20px;
    color: #312f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}
.quote p {
    font-style: italic;
}
.author {
    font-style:normal;
    font-weight: 100;
    align-self: flex-end;
    margin-right: 180px;
}
/* footer styling */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    background-color: #96acb7;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
